lgfy {
    background-color: rgba(0, 255, 255, 0.20);
}

.lgfy-tooltip-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    box-shadow: black 0px 0px 3px 1px;
    z-index: 100000000;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}